div {
  /* border: solid; */
}

ul{ 
  list-style-type: none;
  padding-left: 0;
}

li{ 
  font-size: 12pt;
}

.col{ 
  padding: 5px;
}

.card {
  width: 100%;
}

.forecast-card {
  background-color: pink;
}


.search-section {
  height: 100%;
}